.login-container {
    width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;   
    color: #104476;
}

.login-container-title {
    width: 100%;
    margin-top: 0;
    background-color: linear-gradient(35deg, #104476, #eb671c);
}

.login-container-h1 {
    width: 100%;
    text-transform: uppercase;
    color: #f1f1f1;
    font-size: 17px;
    font-weight: bolder;
    padding: 15px 10px 20px 10px;
    margin-bottom: 20px;
    
}

.login-container-img{
    margin-top: 20px;
    width: 60%;
    border-radius: 50px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.login-form h2 {
    font-size: 13px;
    font-style: italic;
    color: #104476;
    margin: 10px auto 20px auto;
    padding: 10px;
}

.login-form label {
    font-size: 10px;
    font-style: italic; 

    padding: 5px;
}

.login-input {
   width: 65%; 
   margin: 10px auto 20px auto;
   padding: 5px;
   text-align: center;
   border-radius: 5px;
   border-style: none;
   background-color: lightsteelblue;
   color: #104476;
}

.login-form-button {
    width: 30%;
    background-color: #104476;
    color: #f1f1f1;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    cursor: pointer;
}

.login-errMsg {
    color: #eb671c;
    padding: 5px;
}


@media screen and (min-width: 769px){
    
    .login-container {
        margin: 15px auto 20px;
    }

    .login-container h1 {
        font-size: 25px;
    }
   
    .login-form h2 {
        font-size: 20px;
    }

    .login-form label {
        font-size: 15px;
    }

    .login-container-img {
        width: 60%;
    }
}

@media screen and (min-width: 1050px){

    .login-input:focus {
        background-color: #eb671c;
    }

    .login-form-button:hover {
        background-color: #eb671c;
        color: #104476;
    }
}