.wharehouseAdd {
    text-align: center; 
    margin: 15px auto;
    color: #104476;
}

.wharehouseAdd-title {
    text-transform: uppercase;
    padding: 5px;
    margin-bottom: 25px;
    font-weight: bolder;
    padding: 5px;
    text-shadow: 2px 1px 2px #eb671c;
}

.WharehouseAdd-error {
    padding: 3px;
    color: #eb671c;
}

.wharehouseAdd-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wharehouseAdd-label {
    text-transform: uppercase;
    padding: 5px;
    font-weight: bold;
}

.wharehouseAdd-input {
    width: 80%;
    text-align: center;
    padding: 5px;
    margin-bottom: 15px;
    background-color: lightsteelblue;
    border-style: none;
    color: #104476;
}

.input-upper {
    text-transform: uppercase;
}

.wharehouseAdd-input-submit {
    background-color: #104476;
    color: #f1f1f1;
    font-size: 15px;
    font-weight: bolder;
    border: none;
    width: 50%;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

@media screen and (min-width: 1050px){

    .wharehouseAdd-input {
        padding: 10px;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .wharehouseAdd-input:focus {
        background-color: #eb671c;
    }

    .wharehouseAdd-input-submit {
        width: 30%;  
    }

    .wharehouseAdd-input-submit:hover {
        background-color: #eb671c;
        color: #104476;
    }
}