.admin-wharehouse {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; */
    text-align: center; 
    margin: 0;
    color: #104476;
}

.admin-wharehouse-head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: start;
}

.admin-wharehouse-title {
    text-transform: uppercase;
    font-weight: bolder;
    padding: 5px;
    text-shadow: 2px 1px 2px #eb671c;
}

.admin-wharehouse-btn-addmod {
    padding: 5px 2px;
    border-radius: 5px;
    border: none;
    background-color: #104476;
    color: #f1f1f1;
    cursor: pointer;
}

.admin-wharehouse-table {
    width: 95%;
    margin: auto;
    text-align: center;
    border: 1px solid #eb671c;
    padding: 3px;
    font-size: 12px;
    border-collapse: collapse;
}

.admin-wharehouse-table-td-action {
    display: flex;
    flex-direction: column;

}

.fas {
    font-size: 15px;
    padding: 0;
    text-transform: uppercase;
}

.admin-wharehouse-btn-supp {
    padding: 5px 2px ;
    margin-top: 8px;
    border-radius: 5px;
    border: none;
    background-color: #eb671c;
    color: #104476;
    cursor: pointer;
}

.admin-wharehouse-table-th {
    border: 1px solid #eb671c;
    text-transform: uppercase;
}

.admin-wharehouse-table-body tr {
    border: 1px solid #eb671c;

}

.admin-wharehouse-table-td{
    border: 1px solid #eb671c;
    padding: 3px;
}

.admin-wharehouse-table-link {
    text-transform: uppercase;
    font-weight: bold;
    color: #104476;
    cursor: pointer;
}

.admin-wharehouse-table-td-action {
    padding: 3px;
}

@media screen and(min-width: 577px){
    
    .admin-wharehouse-table {
        font-size: 15px;
    }
}