/*****composants AdminWharehouse, AdminCustomer, AdminUserOfBdd, AdminBooking*****/

.admin-comp {
    text-align: center; 
    margin: 20px 0 10px 0;
    color: #104476;
}

.admin-comp-head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: start;
}

.admin-comp-title {
    text-transform: uppercase;
    font-weight: bolder;
    padding: 5px;
    text-shadow: 2px 1px 2px #eb671c;
}

.admin-comp-btn-add {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #84ff80;
    cursor: pointer;
}

.admin-comp-link {
    color: #000000;
}

.admin-comp-link-booking {
    color: #104476;
    text-transform: uppercase;
}

.admin-comp-table {
    width: 95%;
    margin: auto;
    text-align: center;
    border: 1px solid #eb671c;
    padding: 3px;
    font-size: 12px;
    border-collapse: collapse;
}

.admin-comp-table-td-action {
    display: flex;
    flex-direction: column;

}

.fas {
    font-size: 15px;
    padding: 0;
    text-transform: uppercase;
}

.admin-comp-btn-mod {
    padding: 5px 2px;
    border-radius: 5px;
    border: none;
    background-color: #104476;
    color: #f1f1f1;
    cursor: pointer;
}

.admin-comp-btn-supp {
    padding: 5px 2px ;
    margin-top: 8px;
    border-radius: 5px;
    border: none;
    background-color: #eb671c;
    color: #f1f1f1;
    cursor: pointer;
}

.admin-comp-table-p {
    display: none;
}

.admin-comp-table-th {
    border: 1px solid #eb671c;
    text-transform: uppercase;
}

.admin-comp-table-body tr {
    border: 1px solid #eb671c;
}

.admin-comp-table-td{
    border: 1px solid #eb671c;
    padding: 3px;
}

.td-upper {
    text-transform: uppercase;
}

.admin-comp-table-link {
    text-transform: uppercase;
    font-weight: bold;
    color: #104476;
    cursor: pointer;
}

.admin-comp-table-td-action {
    padding: 5px;
}

.admin-comp-errmessage {
    padding: 3px;
    color: #eb671c;
}



/* Responsive */

@media screen and (min-width: 577px){
    
    .admin-comp-table {
        font-size: 15px;
    }

}

@media screen and (min-width: 1050px){
    
    .admin-comp-table {
        font-size: 18px;
    }

    .admin-comp-table-td-action {
       
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .admin-comp-btn-mod {
        margin: auto;
        padding: 5px;
    }

    .admin-comp-table-p {
        display: unset;
    }

    .admin-comp-table-link:hover {
        text-decoration: underline;
    }

    .admin-comp-btn-supp {
        margin: auto;
        padding: 5px;
    }

    .admin-comp-link-booking:hover {
        text-decoration: underline;
    }
}