.AddMod {
    text-align: center; 
    margin: 15px auto;
    color: #104476;
}

.AddMod-title {
    text-transform: uppercase;
    padding: 5px;
    margin-bottom: 25px;
    font-weight: bolder;
    padding: 5px;
    text-shadow: 2px 1px 2px #eb671c;
}

.AddMod-error {
    padding: 3px;
    color: #eb671c;
}

.AddMod-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AddMod-label {
    text-transform: uppercase;
    padding: 5px;
    font-weight: bold;
}

.AddMod-input {
    width: 80%;
    text-align: center;
    padding: 5px;
    margin-bottom: 15px;
    background-color: lightsteelblue;
    border-style: none;
    color: #104476;
}

.AddMod-select {
    width: 80%;
    text-align: center;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #104476;
    background-color: lightsteelblue;
    color: #104476;
    text-transform: uppercase;
}



.input-upper {
    text-transform: uppercase;
}

.AddMod-input-submit {
    background-color: #104476;
    color: #f1f1f1;
    font-size: 15px;
    font-weight: bolder;
    border: none;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
    cursor: pointer;
}

.AddMod-title2 {
    margin: 30px auto 10px auto;
    font-weight: bolder;
    text-shadow: 2px 1px 2px #eb671c;
}

@media screen and (min-width: 1050px){

    .AddMod-input {
        padding: 10px;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .AddMod-input:focus {
        background-color: #eb671c;
    }

    .AddMod-input-submit {
        width: 30%;  
    }

    .AddMod-input-submit:hover {
        background-color: #eb671c;
        color: #104476;
    }

    .AddMod-select-option:hover {
        box-shadow: 0 0 10px 100px #eb671c inset;
    }
}