.booking {
    text-align: center;
    color: #104476;
}

.--header, .--time {
    box-shadow: 5px 5px 5px lightgray;
}

.--controls, .--head {
    border-top: 1px solid #eb671c;
}

.booking-title {
    text-transform: uppercase;
    font-weight: bolder;
    padding: 5px;
    text-shadow: 2px 1px 2px #eb671c;
}

.booking-title2 {
    text-transform: uppercase;
    font-size: 20px;
}

.fa-warehouse {
    font-size: 20px;
}

.booking-p-message {
    margin-bottom: 15px;
}

.booking-p-error {
    color: #eb671c;
    margin-bottom: 15px;
}

.booking-infos {
    margin-top: 15px;
    font-size: 12px;
    font-style: italic;
}

.booking-infos-ul {
    font-style: italic;
    padding: 5px;
    margin-bottom: 15px;
}

.booking-infos-li {
    
    list-style: square;
    
}



@media screen and (min-width: 849px){
   
    .booking-infos {
        font-size: 15px;
    }
   
    
}