.footer {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: #104476;
    color: #f1f1f1;
    padding: 5px 5px 2px 5px;
    line-height: 18px;
    font-size: 12px; 
}

.footer-a {
    padding: 5px;
    color: #f1f1f1;
    cursor: pointer;
}

.footer-img {
    width: 10%;
    padding:1%;
    margin: auto;
}

.footer-mentions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-mentions a {
    color: #f1f1f1;
    cursor: pointer;
}


@media screen and (min-width: 769px) {
    .footer {
        font-size: 10px;
        padding-bottom: 5px;
    }

}

@media screen and (min-width: 1050px) {
   
    .footer {
        font-size: 15px;
        line-height: 20px;
    }

    .footer-img {
        width: 8%;
    }

    .footer-a:hover{ 
        color: #eb671c;
    }

    .footer-a-img :hover {
        transform: scale(1.2);
        cursor: pointer;
    }

    .footer-mentions a:hover {
        color: #eb671c;
    }
    
}
